<p id="notice"><%= notice %></p>

<h1>アンケート結果</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>結果</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionaries.each do |questionary| %>
      <tr>
        <td><%= questionary.id %></td>
        <td><%= questionary.title %></td>
        <td><a href="/questionary_results/<%= questionary.id %>">詳細</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'アンケート一覧に戻る', questionaries_path %>
